* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    font: poppins;
    background-image: url(bg0.jpg);
    width: 100vw;
height: 100vh;
background-size: cover;
background-position: center
;
}
#main {
    width: 100%;
    height: 35vh;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    z-index: 1;
}
.logo img {
    height: 55px;
}

.menu {
    list-style: none;
    display: flex;
    }
.menu li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: grey;
}
a {
        text-decoration: none;
    }  
.hey {
    color: #39bfbd;
    font-weight: 500;
    font-size: 0.9em;
    border-bottom: 2px solid #39bfbd;
}

#main {
    width: 100%;
    height: 50vh;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    z-index: 1;
}
.logo img {
    height: 55px;
}

.menu {
    list-style: none;
    display: flex;
    }
.menu li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: grey;
}
a {
        text-decoration: none;
    }  

    .hey {
        color: #23cdaf;
        font-weight: 500;
        font-size: 0.9em;
        border-bottom: 2px solid #23cdaf;
        padding: 0.9%;
    }
    
    .hey:hover {
        background-color: rgb(72, 139, 240);
        border-radius: 50%;
        color: white;
       
    }

.menu li a:hover {
    background-color: #23cdaf ;
    color: white;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2 );
}


.recent {
    padding-right: 1000px;
   
    list-style: none ;
    height: 0px;
    line-height: 43px;
   
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: grey;
    position: absolute;
     
    width: 800px;
    margin: 150px;
    transform: translate(-10px , -400px);
    display:grid;
}


.recent-name {
    background-color: #2eb7e0;
    border-radius: 10px;
    color: white;
    text-align: center;

    
}




.one li {
    list-style: none;
    align-items: center;
    
}



.buddu {
   
   
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    
}


.buddu:hover {
    box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.2);
}

