* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    font: poppins;

    background-image: url(backgronud09.jpg);
width: 100vw;
height: 100vh;
background-size: cover;
background-position: center;

  
}
#main {
    width: 100%;
    height: 20px;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    z-index: 1;
}
.logo img {
    height: 55px;
}

.menu {
    list-style: none;
    display: flex;
    }
.menu li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: grey;
}
a {
        text-decoration: none;
    }  
.hey {
    color: #39bfbd;
    font-weight: 500;
    font-size: 0.9em;
    border-bottom: 2px solid #39bfbd;
}

#main {
    width: 100%;
    height: 50vh;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    z-index: 1;
}
.logo img {
    height: 55px;
}

.menu {
    list-style: none;
    display: flex;
    }
.menu li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: grey;
}
a {
        text-decoration: none;
    }  

    .hey {
        color: #23cdaf;
        font-weight: 500;
        font-size: 0.9em;
        border-bottom: 2px solid #23cdaf;
        padding: 0.9%;
    }
    
    .hey:hover {
        background-color: rgb(72, 139, 240);
        border-radius: 50%;
        color: white;
       
    }



.skills {
    
    padding: 0%;
   
    list-style: none ;

    height: 0px;
    line-height: 43px;
   
    
    
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(87, 87, 87);
    position: absolute;
     
    width: 800px;
    margin: 200px;
    transform: translate(-10px , -400px);

    padding-right: 50px;

}





.skills li {
    margin: 20px 0;
}


.menu li a:hover {
    background-color: #23cdaf ;
    color: white;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2 );
}


.bar {
    background: rgb(135, 211, 255);
    display: block;
    height: 7px;
    border: 0px solid rgba(0, 0, 0, 0.897);
    border-radius: 7px;
    overflow: hidden;
    box-shadow:rgba(1, 170, 255, 0.7) 0px 0px 15px;
    text-transform: uppercase;
}





.bar span {
    height: 20px;
    float: left;
    background: #041474;
}

.html {
    width: 75%;
    animation: html 7s;
}
.css {
    width: 60%;
    animation: css 6s;
}
.javascript {
    width: 25%;
    animation: javascript 8s;
}
.c {
    width: 50%;
    animation: clanguage 5s;
}
.python {
    width: 20%;
    animation: python 8s;
}
.reactjs {
    width: 10%;
    animation: reactjs 9s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 25%;
    }
}
@keyframes reactjs {
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}
@keyframes clanguage {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes python {
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}






.skills-h1 {
    background-color: #2eb7e0;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 100%;
    
   
}

